<link href = "http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel = "stylesheet">

<form [formGroup]='form' (ngSubmit)="change()">
    <div class="form-group">
        <label for="old">Old Password</label>
        <input formControlName='old'
            type="text" name="old"
            id="old" 
            class='form-control'>
        <div *ngIf='old.pending'>Checking in processing</div>
        <div *ngIf="old.touched && old.invalid" class='alert alert-danger'>
            <div *ngIf='old.errors.required'>Old password is required</div>
            <div *ngIf='old.errors.invalidPassword'>Old password is not valid</div>
        </div>
        
    </div>
    <div class="form-group">
    <label for="new">New Password</label>
        <input formControlName='new'
            type="text" 
            class="form-control"
            name='new'
            id='new'>
        <div *ngIf='new.touched && new.invalid'class="alert alert-danger">New password is required</div>
    </div>
    <div class="form-group">
        <label for="confirm">Confirm Paasword</label>
        <input formControlName='confirm'
            type="text"
            class="form-control"
            name='confirm'
            id='confirm'>
         <div *ngIf='confirm.touched && confirm.invalid' class="alert alert-danger">Confirm password is required</div>
    </div>

    <div *ngIf="confirm.valid && form.invalid && form.errors.donotMatch" class="alert alert-danger">
        passwords do not math
    </div>
    <button class='btn btn-primary' type='submit'> Change Passsword</button>
</form>
