<link href = "http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel = "stylesheet">

<form #f='ngForm' (ngSubmit)='submit(f)'>
<div class="form-group">
        <label for="course">Course Name</label>
        <input type="text" ngModel id='course' name='course'
        required minlength="5" #courseName='ngModel' class="form-control">
        <div class='alert alert-danger'
        *ngIf='courseName.dirty && courseName.invalid'>
            <div *ngIf="courseName.errors.required">Course name is required</div>
            <div *ngIf='courseName.errors.minlength'>
                Cousse name should be minumum {{courseName.errors.minlength.requiredLength}}</div>
        </div>
</div>
<div class="form-group">
    <label for="category">Category</label>
    <select required name="category" id="category" ngModel #category='ngModel' class='form-control'>
        <option value=""></option>
            <option *ngFor= 'let category of categorys' [value]="category.id">
                {{category.value}}
            </option>
    </select>
    <div class= 'alert alert-danger' *ngIf='category.dirty && category.invalid'>
        <div *ngIf="category.errors.required"> category is required</div>
    </div>
</div>
<div class="form-group">
    <input type="checkbox" name="guarantee" id="guarantee" ngModel>
    <label for="guarantee">"30-day money-back guarantee"</label>
</div>
<div>
        {{f.value | json}}
    </div>
<button [disabled]='!f.valid' class="btn btn-primary">Create</button>

</form>

